@use "var";

@media (prefers-color-scheme: light) {
  :root {

    @each $key, $value in var.$colorMap {
      $val: map-get($value, light);
      --bgc-#{$key}: #{$val};
      $invert: invert(darken($val, 30%));

      @if lightness($invert)>50 {
        --fgc-#{$key}: #{lighten($invert, 100%)};
      }

      @else {
        --fgc-#{$key}: #{darken($invert, 100%)};
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {

    @each $key, $value in var.$colorMap {
      $val: map-get($value, dark);
      --bgc-#{$key}: #{$val};
      $invert: invert(darken($val, 30%));

      @if lightness($invert)>50 {
        --fgc-#{$key}: #{lighten($invert, 100%)};
      }

      @else {
        --fgc-#{$key}: #{darken($invert, 100%)};
      }
    }
  }

  html {
    color-scheme: dark;
  }
}

@each $key, $value in var.$colorMap {
  .c-#{$key} {
    background: var(--bgc-#{$key}) !important;
    color: var(--fgc-#{$key}) !important;
  }

  .c-#{$key}_r {
    background: var(--fgc-#{$key}) !important;
    color: var(--bgc-#{$key}) !important;
  }

  .bgc-#{$key} {
    background: var(--bgc-#{$key}) !important;
  }

  .bgc-#{$key}_r {
    background: var(--fgc-#{$key}) !important;
  }

  .fgc-#{$key} {
    color: var(--bgc-#{$key}) !important;
  }

  .fgc-#{$key}_r {
    color: var(--fgc-#{$key}) !important;
  }

  .bdc-#{$key} {
    border-color: var(--bgc-#{$key}) !important;
  }

  .bdc-#{$key}_r {
    border-color: var(--fgc-#{$key}) !important;
  }
}