@use "var";

:root {
  --size: #{var.$size};
  --font-size: #{var.$fontSize};
  --text-padding-top: 0.2rem;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  background-color: var(--bgc-base);
  color: var(--fgc-base);
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: var(--font-size);
}

#__next {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: unset;
}