@use "$/var";

@mixin hover {
  outline: solid;
  outline-offset: 0rem;
  animation: hover 1s infinite;
  z-index: 9;
}

@mixin hoverActive {
  outline: solid;
  outline-offset: 0.1rem;
  animation: none;
}

@mixin hoverAnimation {
  @keyframes hover {
    100% {
      outline-color: transparent;
      outline-offset: .6rem;
    }
  }
}

@mixin crossHover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin inputProps($customWidth: false) {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  z-index: 1;
  resize: none;
  outline: none;

  @if $customWidth ==false {
    flex: 1;
    padding: calc(var(--padding-top-text) + 0.1rem) 1rem 0 1rem;
  }

  &[data-align="left"] {
    text-align: left;
  }

  &[data-align="center"] {
    text-align: center;
  }

  &[data-align="right"] {
    text-align: right;
  }
}

@mixin inputButton($customSize: false) {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: none;
  z-index: 1;
  user-select: none;
  border-radius: var(--radius);
  transition: opacity #{var.$transitionTime};

  @if $customSize ==false {
    height: var(--size);
    width: calc(var(--size) * 0.9);
  }

  &[data-round="true"] {
    border-radius: 9999px;
  }

  &[data-disabled="true"] {
    opacity: 0.2;
    cursor: inherit;
  }

  &:not([data-disabled="true"]) {
    cursor: pointer;

    @include crossHover {
      @include hover;

      &:active {
        @include hoverActive;
      }
    }
  }
}

@mixin pickerShadow {
  box-shadow: 0 .1rem .8rem 0 var(--c-shadow) !important;
  border-radius: var(--radius);
}

@mixin scrollOverlay($thumbColor: var(--c-scroll), $noOverflow: false) {
  @if $noOverflow ==false {
    overflow: auto;
    overflow: overlay;
  }

  &::-webkit-scrollbar {
    height: 0.5rem !important;
    width: 0.5rem !important;
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    background: $thumbColor;
  }
}