@mixin hover {
  outline: solid;
  outline-offset: 0rem;
  animation: hover 1s infinite;
}

@mixin hoverActive {
  outline: solid;
  outline-offset: 0.1rem;
  animation: none;
}

@mixin hoverAnimation {
  @keyframes hover {
    100% {
      outline-color: transparent;
      outline-offset: .6rem;
    }
  }
}

@mixin crossHover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin inputButton {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: calc(var(--size) * 0.9);
  height: var(--size);
  flex: none;
  z-index: 1;
  user-select: none;
  border-radius: var(--radius);
  transition: opacity 0.2;

  &[data-round="true"] {
    border-radius: 9999px;
  }

  &[data-disabled="true"] {
    opacity: 0.2;
    cursor: inherit;
  }

  &[data-disabled="false"] {
    cursor: pointer;
    
    &:hover {
      @include hover;
  
      &:active {
        @include hoverActive;
      }
    }
  }
}

@mixin scrollOverlay($thumbColor: var(--c-scroll), $noOverflow: false) {
  @if $noOverflow == false {
    overflow: auto;
    overflow: overlay;
  }

  &::-webkit-scrollbar {
    height: 0.5rem !important;
    width: 0.5rem !important;
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.2rem;
    background: $thumbColor;
  }
}