@use "$/var";

// box

.box {
  box-sizing: border-box;
}

// margin

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@for $i from 0 through 9 {
  $val: $i * var.$base !important;

  .mt-#{$i} {
    margin-top: $val;
  }

  .mb-#{$i} {
    margin-bottom: $val;
  }

  .ml-#{$i} {
    margin-left: $val;
  }

  .mr-#{$i} {
    margin-right: $val;
  }

  .mx-#{$i} {
    margin-left: $val;
    margin-right: $val;
  }

  .my-#{$i} {
    margin-top: $val;
    margin-bottom: $val;
  }

  .m-#{$i} {
    margin: $val;
  }

  .mt-m#{$i} {
    margin-top: -$val;
  }

  .mb-m#{$i} {
    margin-bottom: -$val;
  }

  .ml-m#{$i} {
    margin-left: -$val;
  }

  .mr-m#{$i} {
    margin-right: -$val;
  }

  .mx-m#{$i} {
    margin-left: -$val;
    margin-right: -$val;
  }

  .my-m#{$i} {
    margin-top: -$val;
    margin-bottom: -$val;
  }

  .m-m#{$i} {
    margin: -$val;
  }
}

// padding

.pt-t {
  padding-top: var(--padding-top-text) !important;
}

@for $i from 0 through 9 {
  $val: $i * var.$base !important;

  .pt-#{$i} {
    padding-top: $val;
  }

  .pb-#{$i} {
    padding-bottom: $val;
  }

  .pl-#{$i} {
    padding-left: $val;
  }

  .pr-#{$i} {
    padding-right: $val;
  }

  .px-#{$i} {
    padding-left: $val;
    padding-right: $val;
  }

  .py-#{$i} {
    padding-top: $val;
    padding-bottom: $val;
  }

  .p-#{$i} {
    padding: $val;
  }
}

// elevation

@for $i from 0 through 9 {
  .e-#{$i} {
    @if $i ==0 {
      box-shadow: none !important;
    }

    @else {
      box-shadow: 0 0.1rem ($i * 0.2rem) 0 var(--c-shadow) !important;
    }
  }

  .es-#{$i} {
    @if $i ==0 {
      filter: drop-shadow(0 0 0 transparent) !important;
    }

    @else {
      filter: drop-shadow(0 0.1rem ($i * 0.05rem) var(--c-shadow)) !important;
    }
  }
}

// radius

.radius {
  border-radius: var(--radius);
}

.r-max {
  border-radius: 100%;
}

.round {
  border-radius: 9999px;
}

@for $i from 0 through 9 {
  $val: $i * 0.25rem !important;

  .r-#{$i} {
    border-radius: $val;
  }

  .rtl-#{$i} {
    border-top-left-radius: $val;
  }

  .rtr-#{$i} {
    border-top-right-radius: $val;
  }

  .rbl-#{$i} {
    border-bottom-left-radius: $val;
  }

  .rbr-#{$i} {
    border-bottom-right-radius: $val;
  }
}

// gap

@for $i from 0 through 9 {
  $val: $i * var.$base;

  .gap-#{$i} {
    gap: $val;
  }

  .gap-r#{$i} {
    row-gap: $val;
  }

  .gap-c#{$i} {
    column-gap: $val;
  }
}

// height/width

.w-100 {
  width: 100% !important;
}

.w-max100 {
  max-width: 100% !important;
}

.w-min100 {
  min-width: 100% !important;
}

.w-size {
  width: var(--size) !important;
}

.h-100 {
  height: 100% !important;
}

.h-max100 {
  max-height: 100% !important;
}

.h-min100 {
  min-height: 100% !important;
}

.h-size {
  height: var(--size) !important;
}

// text

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.nowrap {
  white-space: nowrap !important;
  flex-wrap: nowrap !important;
}

.no-decoration {
  text-decoration: none !important;
  color: inherit;
}

.sx5 {
  font-size: var.$fontSize * 0.5 !important;
}

.sx4 {
  font-size: var.$fontSize * 0.6 !important;
}

.sx3 {
  font-size: var.$fontSize * 0.7 !important;
}

.sx2 {
  font-size: var.$fontSize * 0.8 !important;
}

.s {
  font-size: var.$fontSize * 0.9 !important;
}

.m {
  font-size: var.$fontSize * 1 !important;
}

.l {
  font-size: var.$fontSize * 1.1 !important;
}

.lx2 {
  font-size: var.$fontSize * 1.2 !important;
}

.lx3 {
  font-size: var.$fontSize * 1.3 !important;
}

.lx4 {
  font-size: var.$fontSize * 1.4 !important;
}

.lx5 {
  font-size: var.$fontSize * 1.5 !important;
}

.bold {
  font-weight: bold !important;
}

// flex
@mixin flexBox {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

.flex-start {
  @include flexBox;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-center {
  @include flexBox;
  justify-content: center;
  align-items: center;
}

.flex-top {
  @include flexBox;
  justify-content: flex-start;
  align-items: center;
}

.flex-stretch {
  @include flexBox;
  justify-content: stretch;
  align-items: stretch;
}

.flex-1 {
  flex: 1 !important;
  min-height: 0;
}

.flex-1_0_auto {
  flex: 1 0 auto !important;
  min-height: 0;
}

.flex-1_1_0 {
  flex: 1 1 0rem !important;
  min-height: 0;
}

.flex-1_0_0 {
  flex: 1 0 0rem !important;
  min-height: 0;
}

.flex-g1 {
  flex-grow: 1 !important;
  min-height: 0;
}

.flex-s1 {
  flex-shrink: 1 !important;
  min-height: 0;
}

.flex-b0 {
  flex-basis: 0 !important;
}

.flex-none {
  flex: none !important;
}

// grid

.grid {
  display: grid;
}

@for $i from 1 through 12 {
  .grid {
    &.cols-#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  
    &.rows-#{$i} {
      grid-template-rows: repeat(#{$i}, 1fr);
    }
  }

  .col-#{$i} {
    grid-column: span #{$i};
  }

  .row-#{$i} {
    grid-row: span #{$i};
  }
}

// border

.border {
  border-width: 0.1rem !important;
  border-style: solid !important;
  border-color: var(--c-border);
}

// scroll

.scroll-auto {
  overflow: auto !important;
}

.no-scroll {
  overflow: hidden !important;
}

// none

.none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

// block

.block {
  display: block;
}