$base: 1rem;
$size: 3.6rem;
$fontSize: 1.6rem;

$lightMainColor: rgb(211, 211, 214);
$darkMainColor: rgb(35, 35, 38);
$lightSubColor: rgb(225, 225, 201);
$darkSubColor: rgb(95, 95, 71);

$colorMap: (
  "base": (
    "light": rgb(244, 244, 251),
    "dark": rgb(57, 57, 59),
  ),
  "pure": (
    "light": #fff,
    "dark": #000,
  ),
  "dull": (
    "light": rgb(250, 250, 255),
    "dark": rgb(62, 62, 65),
  ),
  "border": (
    "light": rgb(144, 144, 153),
    "dark": rgb(128, 128, 132),
  ),
  "shadow": (
    "light": rgba(0, 0, 0, 0.4),
    "dark": rgba(0, 0, 0, 0.6),
  ),
  "mask": (
    "light": rgba(127, 127, 127, 0.3),
    "dark": rgba(60, 60, 63, 0.3),
  ),
  "input": (
    "light": #fff,
    "dark": rgb(50, 50, 53),
  ),
  "error": (
    "light": rgb(255, 225, 225),
    "dark": rgb(70, 48, 48),
  ),
  "main": (
    "light": $lightMainColor,
    "dark": $darkMainColor,
  ),
  "main-light": (
    "light": lighten($lightMainColor, 5%),
    "dark": lighten($darkMainColor, 5%),
  ),
  "main-dark": (
    "light": darken($lightMainColor, 5%),
    "dark": darken($darkMainColor, 5%),
  ),
  "sub": (
    "light": $lightSubColor,
    "dark": $darkSubColor,
  ),
  "sub-light": (
    "light": lighten($lightSubColor, 5%),
    "dark": lighten($darkSubColor, 5%),
  ),
  "sub-dark": (
    "light": darken($lightSubColor, 5%),
    "dark": darken($darkSubColor, 5%),
  ),
  "primary": (
    "light": rgb(64, 140, 64),
    "dark": rgb(40, 142, 40),
  ),
  "secondary": (
    "light": rgb(55, 95, 185),
    "dark": rgb(59, 105, 195),
  ),
  "tertiary": (
    "light": rgb(91, 130, 145),
    "dark": rgb(78, 111, 131),
  ),
  "warning": (
    "light": rgb(225, 190, 0),
    "dark": rgb(180, 180, 0),
  ),
  "danger": (
    "light": rgb(208, 55, 55),
    "dark": rgb(200, 63, 61),
  ),
  "cool": (
    "light": rgb(18, 200, 220),
    "dark": rgb(15, 190, 210),
  ),
  "pretty": (
    "light": rgb(250, 151, 220),
    "dark": rgb(230, 131, 200),
  ),
);