$base: 1rem;
$size: 3.6rem;
$fontSize: 1.6rem;
$iconSize: 2.0rem;

$baseColor: (
  "light": rgb(244, 244, 251),
  "light_r": rgb(20, 20, 22),
  "dark": rgb(57, 57, 59),
  "dark_r": rgb(250, 250, 250),
);
$lightMainColor: rgb(120, 128, 165);
$darkMainColor: rgb(120, 128, 155);
$lightSubColor: rgb(164, 170, 180);
$darkSubColor: rgb(114, 114, 120);

$colorMap: (
  "base": $baseColor,
  "pure": (
    "light": #fff,
    "light_r": #000,
    "dark": #fff,
    "dark_r": #000,
  ),
  "dull": (
    "light": rgb(250, 250, 255),
    "light_r": rgb(100, 100, 102),
    "dark": rgb(200, 200, 202),
    "dark_r": rgb(62, 62, 65),
  ),
  "border": (
    "light": rgb(144, 144, 153),
    "dark": rgb(128, 128, 132),
  ),
  "shadow": (
    "light": rgba(0, 0, 0, 0.4),
    "dark": rgba(0, 0, 0, 0.6),
  ),
  "mask": (
    "light": rgba(127, 127, 127, 0.3),
    "light_r": map-get($baseColor, light_r),
    "dark": rgba(60, 60, 63, 0.3),
    "dark_r": map-get($baseColor, dark_r),
  ),
  "input": (
    "light": #fff,
    "light_r": map-get($baseColor, light_r),
    "dark": rgb(50, 50, 53),
    "dark_r": map-get($baseColor, dark_r),
  ),
  "error": (
    "light": rgb(255, 225, 225),
    "light_r": map-get($baseColor, light_r),
    "dark": rgb(70, 48, 48),
    "dark_r": map-get($baseColor, dark_r),
  ),
  "nav": (
    "light": rgb(52, 58, 64),
    "dark": rgb(27, 35, 40),
  ),
  "main": (
    "light": $lightMainColor,
    "dark": $darkMainColor,
  ),
  "main-light": (
    "light": lighten($lightMainColor, 6%),
    "dark": lighten($darkMainColor, 6%),
  ),
  "main-dark": (
    "light": darken($lightMainColor, 6%),
    "dark": darken($darkMainColor, 6%),
  ),
  "sub": (
    "light": $lightSubColor,
    "dark": $darkSubColor,
  ),
  "sub-light": (
    "light": lighten($lightSubColor, 6%),
    "dark": lighten($darkSubColor, 6%),
  ),
  "sub-dark": (
    "light": darken($lightSubColor, 6%),
    "dark": darken($darkSubColor, 6%),
  ),
  "primary": (
    "light": rgb(64, 140, 64),
    "dark": rgb(40, 142, 40),
  ),
  "secondary": (
    "light": rgb(55, 95, 185),
    "dark": rgb(59, 105, 195),
  ),
  "tertiary": (
    "light": rgb(91, 130, 145),
    "dark": rgb(78, 111, 131),
  ),
  "warning": (
    "light": rgb(225, 190, 0),
    "dark": rgb(180, 180, 0),
  ),
  "danger": (
    "light": rgb(208, 55, 55),
    "dark": rgb(200, 63, 61),
  ),
  "cool": (
    "light": rgb(18, 200, 220),
    "dark": rgb(15, 190, 210),
  ),
  "pretty": (
    "light": rgb(250, 151, 220),
    "dark": rgb(230, 131, 200),
  ),
);