$base: 1rem;
$size: 3.6rem;
$fontSize: 1.6rem;

$lightFgc: rgb(22, 22, 22);
$darkFgc: rgb(244, 244, 244);

$colorMap: (
  "base": (
    "light": (
      bgc: rgb(244, 244, 251),
      fgc: rgb(22, 22, 22),
    ),
    "dark": (
      bgc: rgb(57, 57, 59),
      fgc: rgb(244, 244, 244),
    ),
  ),
  "border": (
    "light": (
      bgc: rgb(144, 144, 153),
      fgc: rgb(244, 244, 251),
    ),
    "dark": (
      bgc: rgb(128, 128, 132),
      fgc: rgb(57, 57, 59)
    ),
  ),
  "shadow": (
    "light": (
      bgc: rgba(0, 0, 0, 0.4),
      fgc: rgba(224, 224, 229, 0.2),
    ),
    "dark": (
      bgc: rgba(0, 0, 0, 0.6),
      fgc: rgba(80, 80, 80, 0.5),
    ),
  ),
  "mask": (
    "light": (
      bgc: rgb(127, 127, 127, 0.3),
      fgc: rgb(0, 0, 0),
    ),
    "dark": (
      bgc: rgb(60, 60, 63, 0.3),
      fgc: rgb(255, 255, 255),
    )
  ),
  "pure": (
    "light": (
      bgc: #fff,
      fgc: #000,
    ),
    "dark": (
      bgc: #000,
      fgc: #fff,
    ),
  ),
  "input": (
    "light": (
      bgc: #fff,
      fgc: $lightFgc,
    ),
    "dark": (
      bgc: rgb(50, 50, 53),
      fgc: $darkFgc,
    )
  ),
  "error": (
    "light": (
      bgc: rgb(255, 225, 225),
      fgc: $lightFgc,
    ),
    "dark": (
      bgc: rgb(70, 48, 48),
      fgc: $darkFgc,
    ),
  ),
  "main": (
    "light": (
      bgc: #180614,
      fgc: $darkFgc,
    ),
    "dark": (
      bgc: #eaf4fc,
      fgc: $lightFgc,
    ),
  ),
);