@use "$/mixins";
$buttonSize: (
  xs: 0.7,
  s: 0.85,
  m: 1,
  l: 1.2,
  xl: 1.4,
);

.wrap {
  box-sizing: border-box;
  position: relative;
  padding: 0;
  flex: none;
  overflow: visible;
  font-family: inherit;
  background: none;
  border: none;
  border-radius: var(--radius);

  &:not(:disabled) {
    cursor: pointer;

    @include mixins.crossHover(true) {
      @include mixins.hover;

      &:active {
        @include mixins.hoverActive;
      }
    }
  }

  &:disabled {
    opacity: 0.6;
  }

  &[data-round="true"] {
    border-radius: 9999px;

    >.main {
      border-radius: 9999px;
    }
  }

  @each $key, $value in $buttonSize {
    &[data-size="#{$key}"] {
      height: calc(var(--size) * #{$value});
      min-width: calc(var(--size) * #{$value});
      font-size: calc(var(--font-size) * #{$value});

      &[data-wide="true"] {
        min-width: calc(var(--size) * 3.2 * #{$value});
      }

      >.main {
        >.label {
          padding-left: calc(var(--size) / 2 * #{$value});
          padding-right: calc(var(--size) / 2 * #{$value});
        }
      
        >.icon {
          &:not(:only-child) {
            min-width: calc(var(--size) * #{$value});
          }

          >:global(.icon) {
            &[height="0"] {
              height: calc(var(--icon-size) * #{$value}) !important;
              width: calc(var(--icon-size) * #{$value}) !important;
            }
          }
        }
      }
    }
  }
}

@include mixins.hoverAnimation;

.main {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: var(--radius);
  height: 100%;
  width: 100%;
  border: 0.15rem solid var(--c-border);

  &[data-icon="left"] {
    >.label {
      padding-left: 0 !important;
    }
  }

  &[data-icon="right"] {
    >.label {
      padding-right: 0 !important;
    }
  }
}

.label {
  box-sizing: border-box;
  padding-top: var(--padding-top-text);
  text-overflow: ellipsis;

  &[data-fill="true"] {
    flex: 1 0 0rem;
  }
}

.icon {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  &:only-child {
    width: 100%;
  }
}