$borderStyle: 1px solid var(--c-border);

.wrap {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 0;
  border: #{$borderStyle};
  overflow: auto;
  border-radius: var(--radius);
}

.header {
  box-sizing: border-box;
  z-index: 1;
  position: sticky;
  top: 0;
}

.body {
  z-index: 0;
  height: 0px;
  overflow: visible;
}

.hrow,
.brow,
.crow {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  background: inherit;
  color: inherit;

  +.hrow,
  +.brow,
  +.crow {
    border-top: #{$borderStyle};
  }
}

.brow {
  background: var(--c-pure);
}

.hcell,
.bcell {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: inherit;
  color: inherit;

  &[data-align="left"] {
    justify-content: flex-start;
  }

  &[data-align="center"] {
    justify-content: center;
  }

  &[data-align="right"] {
    justify-content: right;
  }

  +.bcell,
  +.hcell {
    border-left: #{$borderStyle};
  }
}

.label {
  padding: var(--padding-top-text) 1rem 0 1rem;
}

.empty {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 0;
  opacity: 0.5;
}