.wrap {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  overflow: visible;
}

.border {
  box-sizing: border-box;
  display: inline-block;
  min-height: 0.1rem;
  border-radius: 9999px;
  flex: 1;
  min-width: 0;

  &[data-short="true"] {
    flex: none;
    width: 5%;
  }
}

.children {
  box-sizing: border-box;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  flex: none;
}

.text {
  padding: var(--padding-top-text) 1rem 0 1rem;
}