.main {
  box-sizing: border-box;
  position: fixed;
  visibility: hidden;
  z-index: inherit;
}

.mask {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--c-mask);
  width: 100vw !important;
  height: 100vh !important;
  z-index: inherit;
}