.main {
  box-sizing: border-box;
  position: fixed;
  visibility: hidden;
  z-index: inherit;
}

.mask1,
.mask2 {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--c-mask);
  width: 100vw !important;
  height: 100vh !important;
  z-index: inherit;
}

.mask2 {
  background: transparent !important;
  z-index: 0 !important;
}

.anchor {
  display: none !important;
}