.wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;

  &[data-direction="horizontal"] {
    >.body {
      >.content {
        top: 0;
        transition: left 0.8s;

        &[data-state="before"],
        &[data-state="previous"] {
          left: -100%;
        }
        &[data-state="current"] {
          left: 0%;
        }
        &[data-state="next"],
        &[data-state="after"] {
          left: 100%;
        }
      }
    }
  }

  &[data-direction="horizontal-reverse"] {
    >.body {
      >.content {
        top: 0;
        left: -100%;
        transition: left 0.8s;

        &[data-state="before"],
        &[data-state="previous"],
        &[data-state="current"] {
          left: 0%;
        }
      }
    }
  }
}

.header {
  box-sizing: border-box;
}

.body {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  overflow: hidden;
}

.content {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: 100%;
  flex: none;
  z-index: 0;
  overflow: auto;

  &:not([data-state="current"]) {
    max-height: 100% !important;
    pointer-events: none !important; 
    overflow: hidden Im !important;
  }
}