@use "$/mixins";

.wrap {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;

  @include mixins.scrollOverlay;
  overflow-y: hidden;
}

.step {
  box-sizing: border-box;
}

.arrow {
  box-sizing: border-box;
}

.line {
  box-sizing: border-box;
}

.point {
  box-sizing: border-box;
}