$space: 0.3rem;

.table {
  border-radius: var(--radius);
  border-spacing: 0 #{$space};

  &[data-outline="true"] {
    border: 0.1rem solid var(--c-border);
    padding: 0 #{$space};

    >tbody {
      >.row {
        &:first-child {
          >.hcell {
            border-top-left-radius: var(--radius);
          }

          >.bcell {
            border-top-right-radius: var(--radius);
          }
        }

        &:last-child {
          >.hcell {
            border-bottom-left-radius: var(--radius);
          }

          >.bcell {
            border-bottom-right-radius: var(--radius);
          }
        }
      }
    }
  }
}

.hcell {
  text-align: left;
  padding: var(--padding-top-text) 1rem 0 1rem;
  white-space: nowrap;
  width: 0;
}

.row {
  &:last-child {
    >.bcell {
      &::before {
        display: none;
      }
    }
  }

  &:hover {
    >.bcell {
      background: var(--c-selected);
      color: var(--c-selected_);
    }
  }
}

.bcell {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  &::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: -#{$space / 2};
    left: 0;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: inherit;
  }

  >.table {
    border: none;
    width: 100%;
    padding: 0 #{$space};
    border-radius: 0;

    >tbody {
      >.row {
        >.hcell {
          border-radius: 0;
        }
      }
    }
  }
}

.label {
  max-width: 100%;
  padding: var(--padding-top-text) 1rem 0 1rem;
  word-break: break-all;

  &[data-align="center"] {
    justify-self: center;
    margin: 0 auto;
  }

  &[data-align="right"] {
    margin-left: auto;
  }
}