$borderWidth: 0.2rem;

.wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;

  &[data-pos="top"] {
    flex-direction: column;

    >.header {
      >.tab {
        border-top-width: #{$borderWidth};
        border-top-style: solid;
        border-left-width: #{$borderWidth};
        border-left-style: solid;
        border-right-width: #{$borderWidth};
        border-right-style: solid;
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
      }
    }

    >.divider {
      margin-top: -#{$borderWidth};
      width: 100%;
      height: 0.3rem;
    }

    >.body {
      >.content {
        left: 0;
        top: -100%;
        transition: top 0.5s, opacity 0.5s;

        &[data-selected="true"] {
          top: 0%;
        }
      }
    }
  }

  &[data-pos="bottom"] {
    flex-direction: column-reverse;

    >.header {
      >.tab {
        border-bottom-width: #{$borderWidth};
        border-bottom-style: solid;
        border-left-width: #{$borderWidth};
        border-left-style: solid;
        border-right-width: #{$borderWidth};
        border-right-style: solid;
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
      }
    }

    >.divider {
      margin-bottom: -#{$borderWidth};
      width: 100%;
      height: 0.3rem;
    }

    >.body {
      >.content {
        left: 0;
        top: 100%;
        transition: top 0.5s, opacity 0.5s;

        &[data-selected="true"] {
          top: 0%;
        }
      }
    }
  }

  &[data-pos="top"],
  &[data-pos="bottom"] {
    >.header {
      flex-direction: row;
    }
  }

  &[data-pos="top"] {
    >.header {
      >.tab {
        padding: var(--padding-top-text) 3rem 0 3rem;
      }
    }
  }

  &[data-pos="bottom"] {
    >.header {
      >.tab {
        padding: calc(var(--padding-top-text) + #{$borderWidth}) 3rem 0 3rem;
      }
    }
  }

  &[data-pos="left"] {
    flex-direction: row;

    >.header {
      >.tab {
        border-top-width: #{$borderWidth};
        border-top-style: solid;
        border-bottom-width: #{$borderWidth};
        border-bottom-style: solid;
        border-left-width: #{$borderWidth};
        border-left-style: solid;
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
      }
    }

    >.divider {
      margin-left: -#{$borderWidth};
      width: 0.3rem;
      height: 100%;
    }

    >.body {
      >.content {
        top: 0;
        left: -100%;
        transition: left 0.8s, opacity 0.8s;

        &[data-selected="true"] {
          left: 0%;
        }
      }
    }
  }

  &[data-pos="right"] {
    flex-direction: row-reverse;

    >.header {
      >.tab {
        border-top-width: #{$borderWidth};
        border-top-style: solid;
        border-bottom-width: #{$borderWidth};
        border-bottom-style: solid;
        border-right-width: #{$borderWidth};
        border-right-style: solid;
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
      }
    }

    >.divider {
      margin-right: -#{$borderWidth};
      width: 0.3rem;
      height: 100%;
    }

    >.body {
      >.content {
        top: 0;
        left: 100%;
        transition: left 0.8s, opacity 0.8s;

        &[data-selected="true"] {
          left: 0%;
        }
      }
    }
  }

  &[data-pos="left"],
  &[data-pos="right"] {
    >.header {
      flex-direction: row;
      writing-mode: vertical-rl;

      .tab {
        padding: 2rem 0;
      }
    }
  }
}

.header {
  box-sizing: border-box;
  flex: none;
  min-width: var(--size);
  min-height: var(--size);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: 1rem;
}

.tab {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:not([data-selected="true"]) {
    cursor: pointer;
  }
}

.body {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  overflow: hidden;
}

.content {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  min-height: 100%;
  height: 100%;
  flex: none;
  z-index: 0;
  opacity: 0.99;
  overflow: auto;

  &[data-preselected="true"] {
    z-index: 2;
    opacity: 1;
  }

  &[data-selected="true"] {
    z-index: 1;
    position: relative;
    opacity: 1;
  }

  &:not([data-selected="true"]) {
    max-height: 100% !important;
    pointer-events: none !important;
    overflow: hidden !important;
  }
}