.main {
  cursor: pointer;
  align-self: flex-start;
  user-select: none;
}

.body {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: var(--size);
  width: var(--size);
}

.box {
  box-sizing: border-box;
  z-index: 0;

  &::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background: var(--bgc-input);
    border-width: 0.1rem;
    border-style: solid;
    border-color: inherit;
    border-radius: var(--radius);
    transition: background-color 0.1s;
  }
}

.check {
  box-sizing: border-box;
  background: transparent;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.1s;

  &[data-checked="true"] {
    opacity: 1;
  }

  &::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background: inherit;
    border-radius: var(--radius);
    transition: background 0.2s;
  }

  &::after {
    box-sizing: border-box;
    position: absolute;
    content: "";
    top: 16%;
    left: 35%;
    width: 30%;
    height: 50%;
    border-bottom-width: 0.25rem;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    border-right-width: 0.25rem;
    border-right-style: solid;
    border-right-color: inherit;
    transform: rotate(45deg);
  }
}

.children {
  align-self: center;
  padding-left: 0.5rem;
  user-select: none;
}