@mixin wrap {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  min-width: var(--size);
  min-height: var(--size);
  transition: color 0.2s, border 0.2s;

  &[data-editable="true"] {
    color: var(--fgc-input);

    &::before {
      box-sizing: border-box;
      position: absolute;
      content: "";
      background: var(--bgc-input);
      height: var(--size);
      width: 100%;
      border: 1px solid var(--bgc-border);
      border-radius: var(--radius);
      z-index: 0;
      transition: background 0.2s;
    }

    &[data-error="true"] {
      color: var(--fgc-error);

      &::before {
        background: var(--bgc-error);
      }
    }
  }
}

@mixin input($pad: true) {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  z-index: 1;
  resize: none;
  max-width: 100%;
  @if $pad {
    padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  }
}

.wrap {
  @include wrap;
}

.input {
  @include input;
}