@use "$/mixins";

.inputs {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &[data-input="false"] {
    cursor: pointer;

    >.y,
    >.m,
    >.d {
      cursor: inherit;
    }
  }

  &[data-editable="true"] {
    &:focus-within {
      >.sep {
        color: inherit
      }
    }
  }
}

.y,
.m,
.d {
  @include mixins.inputProps(true);
  height: var(--size);
  min-width: 0;
  padding: calc(var(--padding-top-text) + 0.1rem) 0 0 0;
  text-align: center;
  flex: none;

  &:first-child {
    margin-left: 0.5rem;
  }

  &:last-child {
    margin-right: 0.5rem;
  }
}

.y {
  width: 5rem;
}

.m,
.d {
  width: 2.8rem;
}

.sep {
  box-sizing: border-box;
  flex: none;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: var(--padding-top-text);
  cursor: inherit;

  &[data-has="false"] {
    color: transparent;
  }

  &:first-child,
  &:last-child  {
    display: none;
  }
}

.picker,
.clear {
  @include mixins.inputButton;
}

@include mixins.hoverAnimation;