$width7: 14.285%;

.main {
  flex-direction: column !important;
  width: 30rem;
  height: 22rem;
  border-radius: var(--radius);
  overflow: hidden;
  background: var(--c-input);
  color: var(--c-input_);
}

.content {
  box-sizing: border-box;
  flex: 1;
  overflow: hidden;

  &[data-mode="list"] {
    >.date {
      flex-flow: column nowrap;
    }
  }

  &[data-mode="calendar"] {
    >.date {
      flex-flow: row wrap;

      >.cell {
        width: #{$width7};
      }
    }
  }
}

.date {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.cell {
  box-sizing: border-box;
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-top: var(--padding-top-text);
}

.buttons {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: var(--size);
  flex: none;
  width: 100%;
  user-select: none;
}

.clear,
.today,
.switch,
.positive,
.negative {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.positive,
.negative {
  padding-top: var(--padding-top-text);
  flex: 1;
  font-size: calc(var(--font-size) * 0.9);
}

.clear,
.today,
.switch {
  width: var(--size);
  flex: none;
}