@use "$/mixins";
$width7: 14.285%;

.main {
  flex-direction: column !important;
  width: 30rem;
  height: 24rem;
  border-radius: var(--radius);
  overflow: visible;
  background: var(--c-input);
  color: var(--c-input_);

  &[data-editable="true"] {
    >.content {

      >.yearmonth {
        user-select: none;
      }

      >.year,
      >.month,
      >.date {
        &:hover {
          z-index: 1;
        }

        >.cell {
          cursor: pointer;

          &:hover {
            @include mixins.hover;
            z-index: 1;

            &:active {
              @include mixins.hoverActive;
            }
          }
        }
      }
    }
  }
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: stretch;
  flex: 1;
  min-height: 0;
  width: 100%;
  overflow: visible;

  &[data-mode="list"] {
    flex-direction: row;

    >.year,
    >.month,
    >.date {
      height: 100%;
      flex-flow: column nowrap;
      overflow-y: auto;
      overflow-x: visible;
      flex: 1;
      z-index: 0;
    }
  }

  &[data-mode="calendar"] {
    flex-direction: column;

    >.date {
      flex-flow: row wrap;
      overflow: visible;

      &[data-rows="4"] {
        >.cell {
          height: 25%;
        }
      }

      &[data-rows="5"] {
        >.cell {
          height: 20%;
        }
      }

      &[data-rows="6"] {
        >.cell {
          height: 16.66%;
        }
      }

      >.cell {
        width: #{$width7};

        &[data-state="before"],
        &[data-state="after"] {
          opacity: 0.5;
        }
      }
    }
  }
}

.yearmonth {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: none;
  height: var(--size);

  &[data-reverse="true"] {
    flex-direction: row-reverse;
  }
}

.label {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: var(--padding-top-text);
}

.prev,
.next {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: var(--size);
  width: calc(var(--size) * 0.8);
  cursor: pointer;

  &:hover {
    @include mixins.hover;

    &:active {
      @include mixins.hoverActive;
    }
  }
}

.text {
  box-sizing: border-box;
  text-align: center;
  flex: 1;
  padding-top: var(--padding-top-text);
}

.week {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  font-size: calc(var(--font-size) * 0.8);

  >.cell {
    width: #{$width7};
  }
}

.date {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex: 1;
  z-index: 0;
}

.cell {
  box-sizing: border-box;
  position: relative;
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-top: var(--padding-top-text);

  &[data-selected="true"] {
    background: var(--c-selected);
    color: var(--c-selected_);
    z-index: 0;
  }
}

.buttons {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: var(--size);
  flex: none;
  width: 100%;
  user-select: none;
}

.clear,
.today,
.switch,
.positive,
.negative {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    @include mixins.hover;

    &:active {
      @include mixins.hoverActive;
    }
  }
}

@include mixins.hoverAnimation;

.positive,
.negative {
  padding-top: var(--padding-top-text);
  flex: 1;
  font-size: calc(var(--font-size) * 0.9);
}

.clear,
.today,
.switch {
  width: var(--size);
  flex: none;
}

.switch {
  margin-left: auto;
}