@use "$/mixins";
$width7: 14.285%;

.main {
  flex-direction: column !important;
  width: 30rem;
  height: 22rem;
  border-radius: var(--radius);
  overflow: visible;
  background: var(--c-input);
  color: var(--c-input_);
}

.content {
  box-sizing: border-box;
  flex: 1;
  overflow: visible;

  &[data-mode="list"] {
    >.date {
      flex-flow: column nowrap;
    }
  }

  &[data-mode="calendar"] {
    >.date {
      flex-flow: row wrap;
      overflow: visible;

      &[data-rows="4"] {
        >.cell {
          height: 25%;
        }
      }

      &[data-rows="5"] {
        >.cell {
          height: 20%;
        }
      }

      &[data-rows="6"] {
        >.cell {
          height: 16.66%;
        }
      }

      >.cell {
        width: #{$width7};
        cursor: pointer;

        &[data-state="before"],
        &[data-state="after"] {
          opacity: 0.5;
        }

        &[data-selected="true"] {
          color: var(--c-selected_);
          z-index: 0;

          &::before {
            box-sizing: border-box;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background: var(--c-selected);
          }
        }

        &:hover {
          @include mixins.hover;

          &:active {
            @include mixins.hoverActive;
          }
        }
      }
    }
  }
}

.week {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  font-size: calc(var(--font-size) * 0.8);

  >.cell {
    width: #{$width7};
  }
}

.date {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.cell {
  box-sizing: border-box;
  position: relative;
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding-top: var(--padding-top-text);
}

.buttons {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: var(--size);
  flex: none;
  width: 100%;
  user-select: none;
}

.clear,
.today,
.switch,
.positive,
.negative {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    @include mixins.hover;

    &:active {
      @include mixins.hoverActive;
    }
  }
}

@include mixins.hoverAnimation;

.positive,
.negative {
  padding-top: var(--padding-top-text);
  flex: 1;
  font-size: calc(var(--font-size) * 0.9);
}

.clear,
.today,
.switch {
  width: var(--size);
  flex: none;
}