@use "$/mixins";

.main {
  min-height: var(--size);

  &[data-editable="true"] {
    >.body {
      &[data-dialog="true"] {
        cursor: pointer;
        user-select: none;

        &:hover {
          @include mixins.hover;

          &:active {
            @include mixins.hoverActive;
          }
        }
      }

      &[data-active] {
        @include mixins.hover;
      }
    }
  }
}

@include mixins.hoverAnimation;

.body {
  box-sizing: border-box;
  z-index: 1;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: var(--radius);
}

.file {
  display: none !important;
  visibility: hidden;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  z-index: -2;
}

.clear {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
  border-radius: var(--radius);

  &:hover {
    @include mixins.hover;

    &:active {
      @include mixins.hoverActive;
    }
  }
}