$tagHeight: var(--tag-height, calc(var(--font-size) * 1.5));

.wrap {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: visible;

  &[data-tagpad="true"] {
    padding-top: $tagHeight;
  }

  &:focus-within,
  &[data-has="true"] {
    >.tag {
      &[data-pos="placeholder"] {
        top: 0;
        left: 0;
        padding-top: 0;
        height: $tagHeight;
        opacity: 1;
      }
    }
  }

  &[data-round="true"] {
    >.main {
      &::before {
        border-radius: 9999px !important;
      }

      >.input {
        padding-left: calc(var(--size) / 2);
        padding-right: calc(var(--size) / 2);
      }
    }
  }
}

.tag {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  text-overflow: clip;
  height: $tagHeight;

  &[data-pos="placeholder"] {
    position: absolute;
    top: calc($tagHeight);
    padding-top: calc(var(--padding-top-text) + 0.1rem);
    height: var(--size);
    left: 1rem;
    z-index: 1;
    transition: left 0.5s, top 0.5s, height 0.5s, padding-top 0.5s, opacity 0.5s;
    opacity: 0.6;
  }
}

.main {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: center;
  flex: 1 1 auto;
  min-height: 0;
  min-width: 0;
  border-color: var(--c-border);

  &[data-editable="true"] {
    &[data-field="true"] {
      color: var(--c-input_);

      &::before {
        box-sizing: border-box;
        position: absolute;
        content: "";
        background: var(--c-input);
        height: 100%;
        width: 100%;
        border-width: 0.1rem;
        border-style: solid;
        border-color: inherit;
        border-radius: var(--radius);
        z-index: 0;
        transition: background 0.2s;
      }

      &[data-error="true"] {
        color: var(--c-error_);

        &::before {
          background: var(--c-error);
        }
      }
    }

    &[data-clickable="true"] {
      cursor: pointer;
      user-select: none;
    }
  }

  &[data-disabled="true"] {
    opacity: 0.6;
  }
}

.error {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(var(--font-size) * 1.5);
  font-size: calc(var(--font-size) * 0.85);

  &[data-mode="tooltip"] {
    padding: .5rem 1.5rem .5rem 1.5rem;
    white-space: nowrap;
    background: var(--c-error);
    color: var(--c-error_);
    opacity: 0.9;
    width: fit-content;
    border-radius: var(--radius);
    box-shadow: 0 .1rem .8rem 0 var(--c-shadow);
  }

  &[data-mode="bottom"],
  &[data-mode="bottom-hide"] {
    padding: 0 .5rem;
    max-width: fit-content;

    >.text {
      &[data-nowrap="true"] {
        width: 0;
        white-space: nowrap;
        overflow: visible;
      }
    }
  }
}

.text {
  padding-top: var(padding-top-text);
}