@use "$/mixins";

.input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  z-index: 1;
  resize: none;
  height: var(--size);
  min-width: 0;
  flex: 1;
  padding: calc(var(--padding-top-text) + 0.1rem) 1rem 0 1rem;
  text-align: right;
}

.buttons {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100%;
  height: var(--size);
  width: var(--size);
  min-width: 0;
  flex: 0 1 auto;
  z-index: 2;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: background 0.1s, color 0.1s;

  > :global(.react-icon) {
    height: 1.2rem;
    width: 1.2rem;
  }

  &:hover {
    @include mixins.hover;
  }

  &:active {
    @include mixins.hoverActive;
    outline: none;
    background: var(--c-border);
    color: var(--c-border_);
  }

  &:first-child {
    border-top-right-radius: var(--radius);
    padding-top: 5%;
  }

  &:last-child {
    border-bottom-right-radius: var(--radius);
    padding-bottom: 5%;
  }
}

@include mixins.hoverAnimation;