@use "$/var";
@use "$/mixins";

.input {
  @include mixins.inputProps;
  height: var(--size);
  min-width: 0;
  text-align: right;
}

.clear {
  @include mixins.inputButton;
}

.buttons {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100%;
  height: var(--size);
  width: var(--size);
  min-width: 0;
  flex: 0 1 auto;
  z-index: 2;
}

.button {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: background-color #{var.$transitionTime}, color #{var.$transitionTime};

  > :global(.icon) {
    height: 1.2rem;
    width: 1.2rem;
  }

  @include mixins.crossHover {
    @include mixins.hover;
  }

  &:active {
    @include mixins.hoverActive;
    outline: none;
    background: var(--c-border);
    color: var(--c-border_);
  }

  &:first-child {
    border-top-right-radius: var(--radius);
    padding-top: 5%;
  }

  &:last-child {
    border-bottom-right-radius: var(--radius);
    padding-bottom: 5%;
  }
}

@include mixins.hoverAnimation;