@use "$/animation";

.main {
  &[data-editable="true"] {
    >.item {
      cursor: pointer;
      user-select: none;

      >.box {
        &::before {
          background: var(--c-input);
        }
      }

      &:hover {
        z-index: 1;

        >.box {
          &::before {
            @include animation.hover;
          }
        }

        &:active {
          >.box {
            &::before {
              @include animation.hoverActive;
            }
          }
        }
      }

      &[data-appearance="button"] {
        &:hover {
          @include animation.hover;

          &:active {
            @include animation.hoverActive;
          }
        }

        >.label {
          background: var(--c-input);
        }
      }
    }
  }

  &[data-direction="horizontal"] {
    flex-wrap: wrap;

    >.item {
      height: var(--size);

      &[data-appearance="button"] {
        &:first-child {
          >.label {
            border-top-left-radius: var(--radius);
            border-bottom-left-radius: var(--radius);
          }
        }

        &:last-child {
          >.label {
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
          }
        }
      }

      >.label {
        padding-right: 1rem
      }
    }
  }

  &[data-direction="vertical"] {
    flex-direction: column;
    align-items: stretch;

    >.item {
      &[data-appearance="button"] {
        flex: 1 0 0rem;

        &:first-child {
          >.label {
            border-top-left-radius: var(--radius);
            border-top-right-radius: var(--radius);
          }
        }

        &:last-child {
          >.label {
            border-bottom-left-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
          }
        }
      }

      >.label {
        padding-right: 1rem;
      }
    }
  }
}

@include animation.hoverAnimation;

.item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: var(--size);
  min-height: var(--size);
  z-index: 0;
  flex: 1 0 auto;

  &[data-appearance="button"] {
    >.label {
      padding-left: 1rem;
      border-width: 0.1rem;
      border-style: solid;
      border-color: inherit;
      justify-content: center;
    }
  }

  &[data-appearance="point"] {
    >.box {
      &::before {
        box-sizing: border-box;
        position: absolute;
        content: "";
        border-width: 0.1rem;
        border-style: solid;
        border-color: inherit;
        border-radius: 9999px;
        height: 50%;
        width: 50%;
        top: 25%;
        left: 25%;
      }

      >.check {
        height: calc(var(--size) * 0.3);
        width: calc(var(--size) * 0.3);
        top: 35%;
        left: 35%;
      }
    }
  }

  &[data-appearance="check"],
  &[data-appearance="check-outline"] {
    >.box {
      &::before {
        box-sizing: border-box;
        position: absolute;
        content: "";
        border-width: 0.1rem;
        border-style: solid;
        border-color: inherit;
        border-radius: 9999px;
        height: 70%;
        width: 70%;
        top: 15%;
        left: 15%;
      }

      >.check {
        height: calc(var(--size) * 0.7);
        width: calc(var(--size) * 0.7);
        top: 15%;
        left: 15%;

        &::before {
          box-sizing: border-box;
          position: absolute;
          content: "";
          top: 14%;
          left: 32%;
          width: 37%;
          height: 60%;
          border-bottom-width: 0.25rem;
          border-bottom-style: solid;
          border-bottom-color: inherit;
          border-right-width: 0.25rem;
          border-right-style: solid;
          border-right-color: inherit;
          transform: rotate(45deg);
        }
      }
    }

    >.label {
      padding-left: 0.5rem;
    }
  }
}

.box {
  box-sizing: border-box;
  position: relative;
  height: var(--size);
  width: var(--size);
  flex: none;
}

.check {
  box-sizing: border-box;
  position: absolute;
  border-radius: 9999px;
  opacity: 0;
  transition: opacity 0.2s;

  &[data-selected="true"] {
    opacity: 1;
  }
}

.label {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  flex: 1;
  transition: background 0.2s, color 0.2s;
}