@use "$/var";
@use "$/mixins";

.input {
  @include mixins.inputProps;
  height: var(--size);
  min-width: 0;

  &[data-has="false"] {
    color: var(--c-dull_);
  }

  &[data-editable="true"] {
    &[data-input="false"] {
      cursor: pointer;
    }
  }
}

.button {
  @include mixins.inputButton;
}

@include mixins.hoverAnimation;

.list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: auto;
  outline: none;
  border-radius: var(--radius);
}

.item {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding-top-text) 1rem 0 1rem;
  height: var(--size);
  flex: none;
  cursor: pointer;
  background: var(--c-input);
  color: var(--c-input_);
  z-index: 0;
  outline: none;
  transition: background-color #{var.$transitionTime}, color #{var.$transitionTime};

  // TODO: change list hover type
  @include mixins.crossHover {
    @include mixins.hover;

    &:active {
      @include mixins.hoverActive;
    }
  }

  &:focus {
    background: var(--c-hover);
    color: var(--c-hover_);
  }

  &[data-selected="true"] {
    background: var(--c-selected);
    color: var(--c-selected_);
  }

  &[data-empty="true"] {
    color: var(--c-dull_);
  }
}

.popup {
  @include mixins.pickerShadow;
  border-radius: var(--radius);
  background: var(--c-input);
}