@use "$/mixins";

.input {
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  z-index: 1;
  resize: none;
  height: var(--size);
  min-width: 0;
  flex: 1;
  padding: calc(var(--padding-top-text) + 0.1rem) 1rem 0 1rem;
}

.icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  flex: none;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  border-radius: var(--radius);

  &:hover {
    @include mixins.hover;

    &:active {
      @include mixins.hoverActive;
    }
  }
}

@include mixins.hoverAnimation;