@use "$/mixins";

.main {
  &[data-editable="true"] {
    .handle {
      @include mixins.crossHover {
        @include mixins.hover;
      }

      &:active {
        @include mixins.hoverActive;
      }
    }

    .bar {
      background: var(--c-input);
    }
  }
}

@include mixins.hoverAnimation;

.wrap {
  box-sizing: border-box;
  position: relative;
  height: var(--size);
  min-width: 0;
  flex: 1;
}

.rail {
  box-sizing: border-box;
  position: relative;
  overflow: visible;
  width: calc(100% - var(--size));
  height: 100%;
}

.handle {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  height: var(--size);
  width: var(--size);
  border-radius: 9999px;
  border: 0.1rem solid var(--c-border);
  background: var(--c-input);
  user-select: none;
}

.bar {
  box-sizing: border-box;
  position: absolute;
  height: 1rem;
  width: calc(100% - var(--size));
  border: 0.1rem solid var(--c-border);
  top: calc(50% - 0.5rem);
  left: calc(var(--size) / 2);
  border-radius: 9999px;
  overflow: hidden;
}

.rate {
  box-sizing: border-box;
  height: 100%;
}