@use "$/mixins";
@use "$/var";

.inputs {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &[data-input="false"] {
    cursor: pointer;

    >.h,
    >.m,
    >.s {
      cursor: inherit;
    }
  }

  &[data-editable="true"] {
    &:focus-within {
      >.sep {
        color: inherit !important;
        opacity: 1;
      }
    }
  }
}

.h,
.m,
.s {
  @include mixins.inputProps(true);
  height: var(--size);
  width: 2.8rem;
  padding: calc(var(--padding-top-text) + 0.1rem) 0 0 0;
  text-align: center;
  flex: none;

  &:first-of-type {
    margin-left: 0.5rem;
  }

  &:last-of-type {
    margin-right: 0.5rem;
  }
}

.sep {
  box-sizing: border-box;
  flex: none;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: var(--padding-top-text);
  cursor: inherit;

  &[data-show="false"] {
    color: transparent;
  }

  &[data-show="true"] {
    transition: color #{var.$transitionTime},
    opacity #{var.$transitionTime};

    &[data-has="false"] {
      color: var(--c-placeholder_);
      opacity: #{var.$placeholderOpacity};
    }
  }

  &:first-child,
  &:last-child {
    display: none;
  }
}

.picker,
.clear {
  @include mixins.inputButton;
}

.popup {
  @include mixins.pickerShadow;
}

@include mixins.hoverAnimation;