@use "$/animation";
$animationTime: 0.3s;

.main {
  align-items: center !important;
  
  &[data-editable="true"] {
    &:hover {
      .handle {
        &::before {
          @include animation.hover;
        }
      }

      &:active {
        .handle {
          &::before {
            @include animation.hoverActive;
          }
        }
      }
    }
  }
}

@include animation.hoverAnimation;

.body {
  box-sizing: border-box;
  position: relative;
  display: block;
  height: var(--size);
  width: calc(var(--size) * 1.75);
}

.box {
  box-sizing: border-box;
  z-index: 0;
  transition: background #{$animationTime};

  &::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 9999px;
    border-width: 0.1rem;
    border-style: solid;
    border-color: inherit;
    background: inherit;
  }

  &[data-editable="true"] {
    &[data-checked="false"] {
      background: var(--c-input) !important;
    }
  }

  &[data-editable="false"] {
    &[data-checked="false"] {
      background: transparent !important;
    }
  }
}

.handle {
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  left: 0%;
  transition: left #{$animationTime};

  &::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    top: calc(var(--size) * 0.1);
    left: calc(var(--size) * 0.1);
    height: calc(var(--size) * 0.8);
    width: calc(var(--size) * 0.8);
    border-radius: 9999px;
    border-width: 0.1rem;
    border-style: solid;
    border-color: inherit;
    background: var(--c-input);
    transition: border-width 0.1s, outline 0.1s;
  }

  &[data-checked="true"] {
    left: calc(100% - var(--size));
  }
}

.label {
  display: inline-block;
}